* {
	margin: 0;
	padding: 0;
}
.nS {
    text-decoration: none;
    cursor: pointer;
}
html,
body {
    font-family: sans-serif;
    height: 100%;
    background:  no-repeat fixed;
    background-color: black;
    background-image: url('../img/bg.png');
    background-size: contain;
}
header {
    background-color: rgb(227,26,35);
    height: 120px;
    margin-top: 70px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.logo {
    position: relative;
    top: -65px;
    left: 50px;
    height: 200px;
}
.stars {
    position: relative;
    top: -220px;
    left: 45px;
}
.menuItem {
    position: relative;
    top: -160px;
    left: 210px;
    display: inline;
    list-style: none;
    padding: 1px;
    color: rgb(255, 255, 255);
    letter-spacing: -0.6px;
}
.active {
    font-weight: 700;
}
.social {
    position: relative;
    top: -232px;
    left: 74%;
    width: 25%;
    height: 120px;
}
.socialIcons {
    box-sizing: border-box;
    width: 90%;
    background-color: rgb(255, 255, 255);
    height: 2em;
    margin-top: 1.5em;
    padding-left: 12px;
}
.soc {
    height: 1.5em;
    padding-top: 4px;
}
.sign {
    box-sizing: border-box;
    width: 90%;
    height: 2em;
    margin-top: 1em;
    letter-spacing: -0.5px;
}
.signIcon {
    vertical-align: middle;
    height: 20px;
}
.signUp {
    color: rgb(183,183,183);
    margin-right: 5px;
    cursor: pointer;
}
.signIn {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
    background-color: rgb(255, 255, 255);
    width: 66%;
    margin-left: 17%;
	flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
    background-color: rgb(227,26,35);
    height: 240px;
    width: 66%;
    margin-left: 17%;
}
.logos {
    background-color: rgb(183,183,183);
    height: 80px;
    padding-left: 17%;
}
.foo {
    vertical-align: middle;
    width: 50px;
    padding: 10px;
    line-break: auto;
}
.footerLogo {
    position: relative;
    top: 20px;
    left: 44%;
}
/* STYLES FOR CONTENT*/
.hr {
    border: 2px solid rgb(227,26,35);
    margin: 2em 0;
}
.one {
    margin-top: 5em;
}
.liv {
    display: inline-block;
    position: relative;
    width: 44%;
}
.liverpool {
    display: block;
    margin: 0 auto;
    height: 350px;
}
.hed {
    position: relative;
    display: inline-block;
    width: 37%;    
    padding-top: 2em;
    padding-left: 1em;
}
.hed > p {
    font-weight: 700;
    padding-bottom: 7px;
}
.des {
    position: relative;
    display: inline-block;
    width: 55%;
}
.des > p {
    font-size: 0.9em;
    padding-bottom: 9px;
    padding-left: 5px;
}
.flag {
    vertical-align: middle;
    height: 1em;
    margin-right: 3px;
}
.antiLiv {
    display: inline-block;
    position: relative;
    width: 53%;
}
.pInd {
    margin-bottom: 2em;
    padding-right: 1em;
}
h3{
    margin-left: 2%;
    margin-bottom: 2em;
}
.video {
    margin-left: 2%;
}
.vi {
    width: 24%;
}
.chat {
    width: 80%;
    margin-left: 10%;
}
.mes {
    border: 2px solid rgb(196,196,196);
    padding: 10px;
    margin-bottom: 1em;
}
.inpMes {
    width: 97%;
}
.btnChat {
    display: block;
    margin: 1em auto;
    background-color: rgb(196,196,196);
    border: none;
    font-size: 1.2em;
    padding: 10px;
}
/* STYLES FOR TEAM PAGE*/
.teamBlock {
    margin: 3em 1em;
}
.team {
    height: 340px;
    float: left;
    margin-right: 10px;
}
.teamText {
    display: inline;
}
.sost {
    height: 500px;
    width: 90%;
    margin-left: 5%;
    background-color: rgb(244,244,244);
    padding: 1em;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    border-bottom: 1px inset rgb(183,183,183);
    padding: 5px;
    height: 50px;
    text-align: center;
    font-size: 0.8em;
    color: rgb(79, 79, 79);
}
.t1 {
    width: 50px;
}
.number {
    height: 18px;
    width: 18px;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(144,144,144);
    color: rgb(255, 255, 255);
}
.t2 {
    width: 80px;
}
.t3 {
    width: 50px;
}
.t4 {
    text-align: left;
}
.name {
    font-size: 1.2em;
    font-weight: 600;
}
.position {
    padding-top: 3px;
    font-size: 1em;
    color: rgb(184,184,184);
}
.t6 {
    width: 90px;
}
.year {
    padding-top: 3px;
    font-size: 0.8em;
    color: rgb(184,184,184);
}
.t7 {
    width: 90px;
}
.t8 {
    width: 90px;
}
.res {
    margin-top: 2em;
}
.r1 {
    text-align: left;
    width: 200px;
    color: rgb(163, 163, 163);
}
.r2 {
    text-align: right;
}
.r3 {
    width: 20px;
}
.r4, .r5 {
    width: 20px;
}
.resN {
    height: 20px;
    width: 20px;
    background-color: rgb(102,152,102);
    color: rgb(255, 255, 255);
}
.r6 {
    width: 20px;
}
.r7 {
    text-align: left;
}
.flagS {
    width: 1em;
    text-align: right;
}
.r9 {
    width: 50px;
}
.flagB {
    width: 2em;
    text-align: right;
}
.r10 {
    text-align: left;
    width: 100px;
}
.tabsHeader {
    height: 3em;
    width: 100%;
    border-bottom: 1px inset rgb(183,183,183);
}
.linkTabs {
    padding: 7px;
    font-size: 0.8em;
    text-decoration: none;
    background-color: rgb(196,196,196);
    color: rgb(255, 255, 255);
}
.tabsActive {
    background-color: rgb(147, 147, 147);
}
.news {
    padding: 2em;
}
.newsImg {
    float: left;
    width: 400px;
    padding-right: 10px;
}
h4 {
    display: inline-block;
    color: rgb(69,109,206);
    width: 300px;
    margin: 10px;
}
.timeN {
    display: inline;
    font-size: 0.8em;
    color: rgb(184,184,184);
    margin: 20px;
}
.NN {
    display: inline;
    margin: 20px;
}
hr {
    margin: 20px auto;
}